body {
    background-image: url("/res/bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
}

.main-block {
    background-color: #000000C0;
    margin-bottom: 50px;
}

.huge-text {
    font-size: 8em;
    font-weight: bold;
}

@media (max-width: 767.98px) { 
    .huge-text {
        font-size: 5em;
    }
}

.logo {
    height: 200px;
}

@media (max-width: 767.98px) { 
    .logo {
        height: 150px;
    }
}

.social-icons {
    height: 80px;
}

@media (max-width: 767.98px) { 
    .social-icons {
        height: 50px;
    }
    
}

.secondary-block {
    padding-left: 10%;
    padding-right: 10%;
}

.link-noline {
    text-decoration: none;
    color: #9fc5ff
}

.download_btn {
    padding: 20px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}