:root {
    --positive: #33332d;
    --negative: #f3f1cc;
    --negative-alt: #decdbc;
    --primary: rgb(190, 180, 174);
    --border: 2.5rem;
}

*,*::before,*::after {
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: var(--positive); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

body {
    margin: 0;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;


    background-color: var(--negative);
    color: var(--positive);
}

img {
    max-width: 100%;
    max-height: 100%;
}

a {
    text-decoration: none;
}

h1, h2 {
    font-weight: 400;
}

h3 {
    margin: 0;
}

body > section, body > footer {
    width: 100%;
    padding: 2rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > * > .content {
    width: clamp(30rem, 1200px, 80vw);
}

header {
    height: 70vh;
    display: grid;
    grid-template-columns: clamp(15rem, 600px, 40vw) clamp(15rem, 600px, 40vw);
    margin: 0 auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

header > .left {
    grid-column: 1 / 2;

}

.logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.logo > img {
    width: 10rem;
    height: 10rem;
}

.logo > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo > h1 > span:first-child {
    font-size: 4rem;
}

.logo > h1 > span:not(:first-child) {
    font-size: 2rem;
}


#download > .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#releases {
    display: none;
    flex-direction: column;
    width: 100%;
}

#releaseslist {
    width: 100%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1rem;
    flex-wrap: wrap;

}

header img {
    max-height: 100%;
    max-width: 100%;
    grid-column: 2 / 3;
    border-radius: 2rem;
}

.row {
    display: flex;
    flex-direction: row;
}

section#a > .content {
    align-items: center;
}

svg {
    fill: currentColor;
    height: 1.5em;
    width: 1.5em;
}

button, .button {
    cursor: pointer;
    border: none;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    transition: all .2s ease;
    background-color: var(--primary);
    margin: 0 1rem;
    color: currentColor;
    text-decoration: none;
    font-size: 62.5%;
    font-size: 1.6rem;


    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

button > img, .button > img {
    height: 1.5em;
}

button:hover, .button:hover {
    background-color: var(--positive);
    color: var(--negative);
}

footer {
    width: 100%;
    background-color: var(--negative-alt);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer > .content{
    width: clamp(30rem, 1200px, 80vw);
    text-align: center;
}


@media screen and (max-width: 700px) {
    body {
        font-size: 1.5rem;
    }
    header {
        grid-template-rows: 50% 50%;
        justify-items: center;
    }

    header .left {
        grid-row: 1 / 2;
        grid-column: 1 / -1;
    }
    header img {
        grid-row: 2 / 3;
        grid-column: 1 / -1;
    }
}

ul {
    display: flex;
    flex-direction: column;
}

ul.collapsable {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.carousel {
    margin-top: 1rem;
    
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

    justify-content: center;
}

.carousel > a {
    display: flex;
    width: fit-content;
    color: currentColor;
}

.carousel svg {
    width: 5rem;
    height: 5rem;
    flex: 1;
}